
body{
  font-family: sans-serif;
  font-size: 35px;
  background-color: rgb(235, 79, 183);
  color: white;
}
h1{
  text-align: center;
}
.gallery{
  margin: 10px 50px;
}
.gallery img{
  width: 440px;
  height: 400px;
  padding: 10px;
  transition: 1s;

}
.gallery img:hover{
  filter:grayscale(0);
  transform: scale(1.1);
}
